<h3>Nouvelle technique</h3>
<p>Vous pouvez importer une video
   via youtube en utilisant le lien direct,
   ou le lien d'import que vous trouverez
   sous la video sur youtube</p>
<%= render 'form' %>

<%= link_to 'Back', tips_path %>
